@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a nuestro Sistema de Servicio Técnico</h1>
    <img src="./logo_cft.jpeg" alt="logo del cft" />
</div>

